<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS | Dashboard</title>
	<%- include("../partials/head") %>
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="wrapper">
		
			<div class="main">
				<%- include("../partials/header") %>
					<div class="container-fluid">
						<div class="row" id="listArea" style="overflow-y: scroll; height: 87vh;">
						</div>
						
					</div>
					<%- include("../partials/footer") %>
			</div>
			<%- include("../partials/foot") %>
	</div>
	<%- include("../partials/scripts") %>
	<script src="js/dashboard.js"></script>
</body>

</html>