<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMS | Html Editor</title>
    <%- include("../partials/head") %>
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <%- include("../partials/sidebar") %>
            <div class="main">
                <%- include("../partials/header") %>
                    <main class="content p-3">
                        <div class="container-fluid p-0">

                            <div class="card">
                                <div class="row mb-2 mb-xl-3">
                                    <div class="col-auto d-none d-sm-block">
                                        <h3>HTML Editor</h3>
                                    </div>

                                    <div class="col-auto ms-auto text-end mt-n1">

                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">Editor</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="preview-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">Preview</button>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active border-left" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <!-- <div id="dEditor"  style="height: 400px; width: 100%; background-color: white;" contentEditable="true"></div> -->
                                        <div class="row">
                                            <div class="col-md-12 p-3">
                                                <textarea id="editor" class="form-control"
                                            style="height: 400px;  font-family: 'Courier New', Courier, monospace; font-size: 16px; font-weight: bold; border: 0px none;"></textarea>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <iframe id="previewFrame"
                                            style="height: 400px; width: 100%; background-color: white;"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                    <%- include("../partials/footer") %>
            </div>
    </div>
    <%- include("../partials/scripts") %>
        <script>
            $("#preview-tab").click(function () {
                let data = encodeURI($("#editor").val());
                console.log(data);
                $("#previewFrame").attr("src", `data:text/html;charset=utf-8,${data}`);

            })
        </script>
</body>

</html>