<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://d2jh3sxnhhmnvj.cloudfront.net/js/jquery.min.js"></script>

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css"
		href="https://nxg-suite.s3.us-west-2.amazonaws.com/demo/responsive-css/responsive.css"> -->
	<link rel="stylesheet" type="text/css"
		href="https://nxg-suite.s3.us-west-2.amazonaws.com/common/html-style/club-style.css">


</head>

<body id="mainContentSection">
	<div id="mainContentSectionChild"></div>
</body>
<script>

	$(document).on("click", "#dailydiscountBenefit", function (e) {
		//console.log(window.location)
		e.preventDefault()
		$.ajax({
			url: '/content-section-shopper-discount/<%= token %>/<%= clubId %>',
			type: "GET",
			success: function (response) {
				if (response) {
					let a = document.createElement('a');
					a.target = '_blank';
					a.href = response
					a.click();
					//window.location.href = response
				}
			},
			error: function (e) {
				console.log('error', e);
			}
		});
	})

	$(document).ready(function () {

	
		$.get("/content-section-get/<%= sectionId %>/<%= token %>/<%= clubId %>/<%= lang %>", function (result) {


			$('#mainContentSectionChild').html(result.content);
			//let iframeHeight = 0
			try {
				// iframeHeight = $('#mainContentSection').find('iframe').css('height');
				// let height = iframeHeight.split('px');
				// height = parseInt(height[0]) + 100;
				// iframeHeight = height;
			} catch (error) {

			}
			//$('#mainContentSection *').removeAttr('style');
			$('#mainContentSection').find('meta').remove();

			// let height = $(document).height();
			// $('#mainContentSection').append('<input id="heightValue" style="display:none" value="' + height + '"/>')
			//$('#mainContentSection').css({ height: height })

			let type = '<%-type%>'
			if (type == 'mobile') {
				// let h = iframeHeight + 1200;
				// $('#mainContentSection').find('iframe').css({ 'width': '100%', 'border': '0', 'height': h + 'px' });
			} else {
				// $('#mainContentSection').find('iframe').css({ 'width': '100%', 'border': '0', 'height': iframeHeight + 'px' })
			}
			result.result.forEach(element => {
				//console.log(element);
				document.body.innerHTML = document.body.innerHTML.replaceAll('@@' + element.name + '@@', element.value);
			});

		})
		// window.postMessage('Hello World being called from Javascript code' , '*');
		// try {
		// 	window.TestDartCallback(112121)

		// } catch (error) {

		// }
	}) 
</script>
<!--<iframe style="width: 100%;" src="https://forms.zohopublic.com/pkitching1/form/InsiderTravelClubBestPricePromisesubmission/formperma/RQpJ6Y6Hi3AOXwtZCX5tVYSHeIQM5bvGjJrqnI-GSxU" frameborder="0"></iframe>-->

</html>